<div class="row modal">
  <div class="col-md-12 modal-content">
  <h2 class="text-center create-heading">Create Character</h2>

    <form id="character-form">
      <label for="genre-select">Genre:</label>
        <select name="genre" class="form-input" id="genre-select">
          <option value="Fantasy">Fantasy</option>
          <option value="Sci-Fi">Sci-Fi</option>
        </select>
      {{!-- <p>Genre:</p>
        <label for="fantasy">Fantasy</label>
      <input type="radio" name="genre-select" id="fantasy" value="Fantasy" >
        <label for="sci-fi">Sci-Fi</label>
         <input type="radio" name="genre-select" id="sci-fi" value="Sci-Fi" > --}}


    <label for="character-name">Character Name:</label>
    <input type="text" class="form-input" name="name" id="character-name" required>

    <label for="class-select">Class:</label>
    <select name="class" class="form-input" id="class-select">
      <!-- options will be added here by JavaScript -->
    </select>

    <button type="submit" class="mt-2">Next</button>
  </form>
</div>
</div>
<script src="./js/create.js"></script>
