<div class="row mb-4 modal">
  <div >
    <h2 class="text-center">Create Character</h2>

    <form id="character-form">
      <label for="genre-select">Genre:</label>
      <select name="genre" id="genre-select">
        <option value="Fantasy">Fantasy</option>
        <option value="Sci-Fi">Sci-Fi</option>
      </select>

    <label for="character-name">Character Name:</label>
    <input type="text" name="name" id="character-name" required>

    <label for="class-select">Class:</label>
    <select name="class" id="class-select">
      <!-- options will be added here by JavaScript -->
    </select>

    <button type="submit">Next</button>
  </form>
</div>

<script src="./js/create.js"></script>
