<div class="row chat-modal">
    <div class="col-md-12 text-center">
    <div id="loading-message" class="display-none">Initializing quest...</div>

    <section id="chat-section">
      {{#each chats}}
        <p class="{{role}} chat-message">
          <span><b>{{role}}</b></span>
          <span>:</span>
          <span>{{content}}</span>
        </p>
      {{/each}}
    </section>

    <div id="typing-indicator" class="hide">
      <p><i>{{#if isTyping}}Typing{{/if}}</i></p>
    </div>

    <form id="chat-form">
      <input
        class="form-input"
        type="text"
        id="message-input"
        name="message"
        value="{{message}}"
        placeholder="Type a message here and hit Enter..."
      />
    </form>
    </div>
</div>

<script src="/js/chat.js"></script>

