<div class="text-center">
  <main>
    <section id="chat-section">
      {{#each chats}}
        <p class="{{role}}">
          <span><b>{{role}}</b></span>
          <span>:</span>
          <span>{{content}}</span>
        </p>
      {{/each}}
    </section>

    <div id="typing-indicator" class="hide">
      <p><i>{{#if isTyping}}Typing{{/if}}</i></p>
    </div>

    <form id="chat-form">
      <input
        type="text"
        id="message-input"
        name="message"
        value="{{message}}"
        placeholder="Type a message here and hit Enter..."
        onchange="setMessage(event.target.value)"
      />
    </form>
  </main>
</div>

<script src="./js/chat.js"></script>

