<div class="text-center">
  <main>
    <section id="chat-section"></section>

    <div id="typing-indicator">
      <p><i>Typing...</i></p>
    </div>

    <form id="chat-form">
      <input type="text" name="message" id="message-input" placeholder="Type a message here and hit Enter...">
    </form>
  </main>
  <script src="./js/chat.js"></script>
</div>
