<div class="row mb-4 modal">
  <div class="col-md-5">
    <p class="text-align-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus pariatur, hic, voluptatem deserunt illum esse reiciendis aperiam animi dolorum ratione fuga harum quas, praesentium quasi. Veniam nihil expedita aut dicta?</p>
    <button class="btn-styled"><a href="./create">Start Your Adventure</a></button>
  </div>
</div>
