<div class="row mb-4 modal">
  <div class="col-md-12 text-center">
          <p class="text">In the vast expanse of the cosmos, two worlds exist - the mystical realms of <span class="fantasy">fantasy</span> and the unknown landscapes of the <span class="future">sci-fi</span>. Each echoes with the promise of adventure, intrigue, and epic battles. Welcome to our role-playing game, a world where your choices shape the story and your character carves their legacy.</p>
    <button class="btn-styled"><a href="./create">Start Your Adventure</a></button>
  </div>
  <div class="col-md-7">
    <h2>Latest Outcomes</h2>
    {{#if outcomes.length}}
    <ul>
      {{#each outcomes}}
      <li>
        <h3>{{name}}</h3>
        <p>{{description}}</p>
      </li>
      {{/each}}
    </ul>
    {{else}}
    <p>No outcomes available.</p>
    {{/if}}
  </div>
</div>
