<div class="row modal">
  <div class="col-md-12">
    <h2 class="text-center">LOG IN</h2>
    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn-styled login" type="submit">Log In</button>
      </div>
    </form>
    <div class="form-group mt-5">
      <p>Don't have an account?</p>
      <button class="btn-styled create" type="submit"><a href="/signup">Create Account</a></button>
    </div>
  </div>  
</div>

<script src="./js/login.js"></script> 
