<div class="row chat-modal">
  <div class="col-md-12">
    <h2 class="text-center">Past Game</h2>
    <div class="chat-history text">
      {{{chatHistory}}}
    </div>
  </div>
</div>
<script src="/js/profile.js"></script>