<h1>Starting Scenarios</h1>

<p>Genre: {{ genre }}</p>
<p>Character: {{ character.name }}</p>

<ul>
  {{#each scenarios}}
    <li>
      <h3>{{ name }}</h3>
      <p>{{ description }}</p>
    </li>
  {{/each}}
</ul>
