:root {
  /* TODO: add/update fonts */
  --logo-font:'Audiowide', cursive;
  /* --logo-font: 'Goldman', cursive; */
  /* --logo-font: 'Sarpanch', sans-serif; */
  --slay-font: 'Rubik Glitch', cursive;
  /* --slay-font: 'Metal Mania', cursive; */
  --body-font: 'Chakra Petch', sans-serif;
  /* --body-font: 'Ysabeau Infant', sans-serif; */
  /* --body-font: 'Metamorphous', cursive; */
  --btnfont: 'Black Ops One', cursive;
  --fantasy-font: 'UnifrakturCook', cursive;
  --future-font: 'Montserrat Subrayada', sans-serif;
  /* TODO: add images */
  --homepage-img: linear-gradient(
    to bottom,
    #00000080,
    #ff6bf348
    /* rgba(255, 255, 0, 0.5),
    rgba(0, 0, 255, 0.5) */
  ), url(../img/bg-3dmap1.png) no-repeat center center;
  --fantasy-img: ;
  --sci-fi-img: ;
  /* TODO: add colors */
  --blacktrans: #00000033;
  --neonyellow: #cfff00;
  --neonpurp: #bf00ff;
  --neonpurptrans: #bf00ffa8;
  --neonltblue: #00f7ff;
  --blue: #09009f;
  --offwhite: #F9F5F6;
  --ltpurp: #bfcaff;
  --ltblue: #b2d6ff;
  --babyblue: #e8f3fe;
}

body {
  font-family: var(--body-font);
  padding-left: 1em;
  padding-right: 1em;
  color: var(--babyblue)
}

/* NOTES: 3-D https://codepen.io/ryandsouza13/pen/yEBJQV */
.text { 
  color: var(--babyblue);
  /* font-weight: bold; */
  font-size: 1.5em;
  margin-bottom: 1em;
 } 

.logo {
  /* TODO Fix Color */
  font-family: var(--logo-font);
  background: -webkit-linear-gradient(45deg, var(--blue), var(--neonltblue) 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 10px 10px var(--blacktrans);
}

/* TODO: Make this more legible */
#slay {
  /* TODO Fix Color */
  font-family: var(--slay-font);
  font-size: 1.5em;
  /* NOTES: Text gradient https://cssgradient.io/blog/css-gradient-text/ */
  /* background: -webkit-linear-gradient(90deg, var(--neonpurp), #cb70ff3d 100%); */
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.nav-link {
  font-size: 1.1em;
  color: var(--neonltblue)
}

a {
  color: var(--neonltblue);
}

/* https://stackoverflow.com/questions/20039765/how-to-apply-a-css-filter-to-a-background-image */

.content::before {
  content: "";
  position: fixed;
  left: -3%;
  right: -3%;
  top: -3%;
  bottom: -3%;
  z-index: -1;
  display: block;
/* TODO: Update image */
background: var(--homepage-img);
  background-size:cover;
  width: 110%;
  height: 110%;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

/* SECTION: MAIN */
main {
position: relative;
height: 65vh;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  background: var(--homepage-img);  
  background-size:cover;
  /* background-color: var(--black); */
/* color: var(--white); */
  padding: 2rem;
  border: var(--neonpurptrans) 1px solid;
  /* border: var(--neonyellow) 1px solid; */
  border-radius: 5px;
  box-shadow: 20px 20px 5px 3px var(--blacktrans);
  z-index: 10;
  text-align: left;
}

.modal-content {
  background: radial-gradient(#ffffff38 0%, #000000 100%);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 10px 10px 5px 3px var(--blacktrans);
}

/* https://codepen.io/lewismcarey/pen/GJZVoG */
/* https://code-boxx.com/html-css-news-ticker-horizontal-vertical/ */
  .outcomes-wrap {
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: hidden; 
    /* HIDE SCROLL BAR */
    height: 5rem;
    background-color: rgba(#000000, 0.9); 
    /* z-index: 10; */
  }

  .hmove { 
    display: flex; 
    list-style: none;
  }

  .outcomes-item {
        flex-shrink: 0;
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        text-align: left;
      }

      @keyframes tickerh {
        0% { 
          /* transform: translate3d(100%, 0, 0);  */
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
          visibility: visible;
        }
        100% { 
          -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
          /* transform: translate3d(-400%, 0, 0);  */
        }
      }

      .hmove { animation: tickerh linear 15s infinite; }
      .hmove:hover { animation-play-state: paused; }

/* SECTION: CHARACTER */

#character-form {
  display: flex;
  flex-direction: column;
}

button, .btn-styled {
  padding: .5rem;
  /* margin-top: 5px; */
  text-align: center;
  border-radius: 15px;
  border-color: var(--neonpurptrans);
  /* border-color: var(--neonyellow); */
  box-shadow: 8px 8px 3px 1px rgba(0, 0, 0, 0.2);
  background: radial-gradient(#000000 0%, #ffffff00 100%);
  cursor: pointer;
  font-family: var(--btnfont);
  font-size: 1.2em;
  color: var(--neonltblue);
}

/* SECTION: CREATE */
.scenario-name {
  color: var(--neonpurp);
  font-family: var(--btnfont);
  font-weight: bold;
}

.main-container {
  padding: 15px 0;
  /* background-color: #0000006d; */
  border-radius: 15px;
  border-color: var(--neonpurptrans);
  box-shadow: 8px 8px 3px 1px rgba(0, 0, 0, 0.2);
  background: radial-gradient(#000000 0%, #ffffff00 100%);
}

.chat-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  background-color: var(--blacktrans); 
  padding: 2rem;
  border: var(--neonpurptrans) 1px solid;
  /* border: var(--neonyellow) 1px solid; */
  border-radius: 5px;
  box-shadow: 20px 20px 5px 3px var(--blacktrans);
  z-index: 10;
  text-align: left;
}

/* SECTION: GAME */

.chat-message {
  border: 1px solid rgba(211, 211, 211, 0.5); /* light gray with 50% opacity */
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.role {
  font-weight: bolder;
  text-transform: uppercase;
  
}

#message-input {
  width: 100%;

}

/* SECTION: PROFILE */
 .welcome-name {
  font-family: 'Cinzel Decorative', cursive;
 }

/* header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
} */

/* .no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
} */

.fantasy {
  font-family: var(--fantasy-font);
  color: var(--neonpurp);
  font-size: 1.2em;
}

.future {
  font-family: var(--future-font);
  color: var(--neonpurp);
}


@media (max-width: 768px) {
  .logo {
    font-size: 30px;
  }
.text {
  font-size: 16px;
}
/* .btn-styled {
  font-size: 20px;
} */
.outcomes {
  display: none;
}
.nav {
  font-size: .75rem;
}

h2{
  font-size: 20px;
}
header {
  display: flex;
  flex-direction: column;
}

form {
  font-size: .5rem;
}
}
