/* @import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Black+Ops+One&family=Goldman&family=Kings&family=Macondo&family=Metal+Mania&family=Metamorphous&family=Nova+Mono&family=Romanesco&family=Ruthie&family=Six+Caps&family=Trade+Winds&family=UnifrakturCook:wght@700&display=swap'); */

:root {
  /* TODO: add/update fonts */
  --logo-font:'Audiowide', cursive;
  /* --logo-font: 'Goldman', cursive; */
  /* --logo-font: 'Sarpanch', sans-serif; */
  --slay-font: 'Rubik Glitch', cursive;
  /* --slay-font: 'Metal Mania', cursive; */
  --body-font: 'Chakra Petch', sans-serif;
  /* --body-font: 'Ysabeau Infant', sans-serif; */
  /* --body-font: 'Metamorphous', cursive; */
  --btnfont: 'Black Ops One', cursive;
  --fantasy-font: 'UnifrakturCook', cursive;
  --future-font: 'Montserrat Subrayada', sans-serif;
  /* TODO: add images */
  --homepage-img: linear-gradient(
    to bottom,
    #00000080,
    #ff6bf348
    /* rgba(255, 255, 0, 0.5),
    rgba(0, 0, 255, 0.5) */
  ), url(../img/bg-3dmap3.png) no-repeat center center;
  --fantasy-img: ;
  --sci-fi-img: ;
  /* TODO: add colors */
  --neonyellow: #cfff00;
  --neonpurp: #bf00ff;
  --neonpurptrans: #bf00ffa8;
  --neonltblue: #00f7ff;
  --blue: #09009f;
  --offwhite: #F9F5F6;
  --ltpurp: #bfcaff;
  --ltblue: #b2d6ff;
  --babyblue: #e8f3fe;
}

body {
  font-family: var(--body-font);
  padding-left: 1em;
  padding-right: 1em;
  color: var(--babyblue)
}

/* NOTES: 3-D https://codepen.io/ryandsouza13/pen/yEBJQV */
.text { 
  color: var(--babyblue);
  /* font-weight: bold; */
  font-size: 1.5em;
  margin-bottom: 1em;
 } 

.logo {
  /* TODO Fix Color */
  font-family: var(--logo-font);
  background: -webkit-linear-gradient(45deg, var(--blue), var(--neonltblue) 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 10px 10px #00000033;
}

/* TODO: Make this more legible */
#slay {
  /* TODO Fix Color */
  font-family: var(--slay-font);
  font-size: 1.5em;
  /* NOTES: Text gradient https://cssgradient.io/blog/css-gradient-text/ */
  /* background: -webkit-linear-gradient(90deg, var(--neonpurp), #cb70ff3d 100%); */
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.nav-link {
  font-size: 1.1em;
  color: var(--neonltblue)
}

a {
  color: var(--neonltblue);
}

/* https://stackoverflow.com/questions/20039765/how-to-apply-a-css-filter-to-a-background-image */

.content::before {
  content: "";
  position: fixed;
  left: -3%;
  right: -3%;
  top: -3%;
  bottom: -3%;
  z-index: -1;
  display: block;
/* TODO: Update image */
background: var(--homepage-img);
  background-size:cover;
  width: 110%;
  height: 110%;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

/* NOTES: Failed attempt */
 /* .background-image { 
  TODO: UPDATE - Testing
  /*background: linear-gradient(
    to bottom,
    rgba(255, 255, 0, 0.5),
    rgba(0, 0, 255, 0.5)
  ), url(../img/test-bg-map.png) no-repeat center center;
  width: 1200px;
  height: 800px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  position: fixed;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}  */

/* .content {
  overflow: auto;
  position: relative;
} */

/* .background-filter::after {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  content: "";
  display: block;
  position: absolute;
  width: 100%; height: 100%;
  top: 0;
}
.background-filter {
  position: relative;
}
.background-image {
  TODO: UPDATE - Testing
/* background: linear-gradient(
    to bottom,
    rgba(255, 255, 0, 0.5),
    rgba(0, 0, 255, 0.5)
  ), url(../img/test-bg-map.png) no-repeat center center;
  background-size: 100%;
}
.content {
  position: relative;
  z-index: 1;
} */

/* SECTION: MAIN */
main {
position: relative;
height: 65vh;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  background: var(--homepage-img);
   /* background: linear-gradient(
    to bottom,
    rgba(255, 255, 0, 0.5),
    rgba(0, 0, 255, 0.5)
  ), var(--homepage-img) no-repeat center center; */  
  background-size:cover;
  /* background-color: var(--black); */
/* color: var(--white); */
  padding: 2rem;
  border: var(--neonpurptrans) 1px solid;
  /* border: var(--neonyellow) 1px solid; */
  border-radius: 5px;
  box-shadow: 20px 20px 5px 3px #00000033;
  z-index: 10;
  text-align: left;
}

.modal-content {
  max-height: calc(100vh - 225px);
}

/* h2 { */
  /* font-family: 'Metamorphous', cursive; */
  /* font-family: 'Aboreto', cursive; */
  /* font-family: 'Nova Mono', monospace; */
  /* font-family: 'Six Caps', sans-serif; */
  /* font-family: 'UnifrakturCook', cursive; */
  /* font-family: 'Trade Winds', cursive; */
  /* font-family: 'Ruthie', cursive; */
  /* font-family: 'Romanesco', cursive; */
  /* font-family: 'Macondo', cursive; */
  /* font-family: 'Kings', cursive; */
  /* font-family: 'Black Ops One', cursive; */
/* } */

/* SECTION: CHARACTER */

#character-form {
  display: flex;
  flex-direction: column;
}

button, .btn-styled {
  padding: .5rem;
  /* margin-top: 5px; */
  text-align: center;
  border-radius: 15px;
  border-color: var(--neonpurptrans);
  /* border-color: var(--neonyellow); */
  box-shadow: 8px 8px 3px 1px rgba(0, 0, 0, 0.2);
  background: radial-gradient(#000000 0%, #ffffff00 100%);
  cursor: pointer;
  font-family: var(--btnfont);
  font-size: 1.2em;
  color: var(--neonltblue);
}

.chat-message {
  border: 1px solid rgba(211, 211, 211, 0.5); /* light gray with 50% opacity */
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

/* header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
} */

/* .no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
} */

.fantasy {
  font-family: var(--fantasy-font);
  color: var(--neonpurp);
  font-size: 1.2em;
}

.future {
  font-family: var(--future-font);
  color: var(--neonpurp);
}
