@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Almendra+SC&family=Cinzel+Decorative&family=Goldman&family=Kings&family=Metal+Mania&family=Metamorphous&family=Six+Caps&display=swap');

:root {
  /* TODO: add/update fonts */
  --logo-font: 'Goldman', cursive;
  --slay-font: 'Metal Mania', cursive;
  --body-font: 'Aboreto', cursive;
  /* TODO: add images */
  --homepage-img: linear-gradient(
    to bottom,
    rgba(255, 255, 0, 0.5),
    rgba(0, 0, 255, 0.5)
  ), url(../img/test-bg-map.png) no-repeat center center;
  --fantasy-img: ;
  --sci-fi-img: ;
  /* TODO: add colors */
  --neonyellow: #cfff00;
}

body {
  font-family: var(--logo-font);
  padding-left: 1em;
  padding-right: 1em;
}

.logo {
  /* TODO Fix Color */
  font-family: var(--logo-font);
}

.slay {
  /* TODO Fix Color */
  font-family: var(--slay-font);
  font-size: 1.5em;
}

/* https://stackoverflow.com/questions/20039765/how-to-apply-a-css-filter-to-a-background-image */

.content::before {
  content: "";
  position: fixed;
  left: -3%;
  right: -3%;
  top: -3%;
  bottom: -3%;
  z-index: -1;
  display: block;
/* TODO: Update image */
background: var(--homepage-img);
  /* background: linear-gradient(
    to bottom,
    rgba(255, 255, 0, 0.5),
    rgba(0, 0, 255, 0.5)
  ), var(--homepage-img) no-repeat center center; */
  background-size:cover;
  width: 110%;
  height: 110%;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

/* NOTES: Failed attempt */
 /* .background-image { 
  TODO: UPDATE - Testing
  /*background: linear-gradient(
    to bottom,
    rgba(255, 255, 0, 0.5),
    rgba(0, 0, 255, 0.5)
  ), url(../img/test-bg-map.png) no-repeat center center;
  width: 1200px;
  height: 800px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  position: fixed;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}  */

/* .content {
  overflow: auto;
  position: relative;
} */

/* .background-filter::after {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  content: "";
  display: block;
  position: absolute;
  width: 100%; height: 100%;
  top: 0;
}
.background-filter {
  position: relative;
}
.background-image {
  TODO: UPDATE - Testing
/* background: linear-gradient(
    to bottom,
    rgba(255, 255, 0, 0.5),
    rgba(0, 0, 255, 0.5)
  ), url(../img/test-bg-map.png) no-repeat center center;
  background-size: 100%;
}
.content {
  position: relative;
  z-index: 1;
} */

/* SECTION: MAIN */
main {
position: relative;
height: 65vh;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  background: var(--homepage-img);
   /* background: linear-gradient(
    to bottom,
    rgba(255, 255, 0, 0.5),
    rgba(0, 0, 255, 0.5)
  ), var(--homepage-img) no-repeat center center; */  
  background-size:cover;
  /* background-color: var(--black); */
  /* color: var(--white); */
  padding: 2rem;
  border: var(--neonyellow) 1px solid;
  border-radius: 5px;
  box-shadow: 20px 20px 5px 3px rgba(0, 0, 0, 0.2);
  z-index: 10;
  text-align: left;
}

/* SECTION: CHARACTER */

#character-form {
  display: flex;
  flex-direction: column;
}

button {
  padding: 1rem;
  margin: 2em;
  text-align: center;
  border-radius: 25px;
  border-color: var(--neonyellow);
  box-shadow: 8px 8px 3px 1px rgba(0, 0, 0, 0.2);
  background: radial-gradient(circle, var(--white) 0%, var(--ltpurp) 100%);
  cursor: pointer;
}

/* header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
} */

/* .no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
} */
